rules_version = '2';

// Cover images and story audio are written by the portal (author only) and
// read publicly by the site, so unlike Firestore, reads are open here.
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthor() {
      return request.auth != null && request.auth.uid == "IBZR4nMr2ZWaeAaSnvs2cM8206D3";
    }

    match /covers/{fileName} {
      allow read: if true;
      allow write: if isAuthor();
    }

    match /audio/{fileName} {
      allow read: if true;
      allow write: if isAuthor();
    }
  }
}
